chapter2/2.11.txt.
chapter2/.vs/ProjectSettings.json
chapter2/.vs/VSWorkspaceState.json
chapter2/.vs/slnx.sqlite
chapter2/.vs/chapter2/v16/Browse.VC.db
chapter2/.vs/chapter2/v16/ipch/AutoPCH/5f847f47df580d34/2.08.ipch
chapter2/.vs/chapter2/v16/ipch/AutoPCH/12bcbed93d168e28/2.13.ipch
chapter2/.vs/chapter2/v16/.suo
